/**********************************************************************************************************************

  Authors: Group 1
  Project: Zeal
  File: Main Stylesheet
  Notes: This stylesheet serves as a template for the everyone's individual contributions
         When the project is complete all sheets will be collated and this section will reflect as much

  Section I : General Styling
**********************************************************************************************************************/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  overflow-x: hidden;
  font-family: "Roboto Material Black", monospace;
  clear-after: bottom;
  background: #F4ECFF;
  margin: 0;

  color: #1f2833;
}
body {
  height: 100%;
  width: 100%;
}

main {
  height: 60em;
  width: 70%;
  float: left;
  clear-after: bottom;
  outline: #484554 5px double;
}

/*********************************************************************************************************************
  Section II: Header And Navigation Styling
  ********************************************************************************************************************/
h1 {
  font-size: 6em;
  font-style: italic;
  margin: 1%;
  font-variant-caps: all-small-caps;
}
h2,
h3 {
  color: #484554;
  font-style: italic;
  margin: 1%;
  font-variant-caps: all-small-caps;
}

header {
  padding: auto;
  margin: 0;
  text-align: justify;
}

nav {
  overflow: hidden;
  background-color: #1f2833;
  display: compact;
  margin-top: 0;
}
nav a {
  float: right;
  color: #F4ECFF;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 2em;
  border: 1px solid #bbb;
  margin-top: 0.2em;
}
nav a:hover {
  color: #332f61;
  background-color: #F4ECFF;
}


.zeal {
  float: left;
  color: #F4ECFF;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  padding: 1em;
  margin-bottom: 0.3em;
}

.hero {
  padding-bottom: 30px;
  justify-content: center;
  width: 100% !important;
  border: 0;
}

.hero > img {
  width: 100%;
  margin-left: 0;
}


/**********************************************************************************************************************
  Section III:Content Styling
  **********************************************************************************************************************/


#art1 {
  background-color: darkslateblue;
  padding: 3%;
  margin: 1%;
  height: 20em;
}
#art2 {
  background-color: darkgoldenrod;
  padding: 3%;
  margin: 1%;
  height: 15em;
}
#art3 {
  background-color: lightskyblue;
  padding: 3%;
  margin: 1%;
  height: 20em;
}
aside {
  width: 30%;
  float: right;
  outline: #1f2833 double 1px;
  height: 100%;
  background-color: #bbbbbb;
}
aside section h4 {
  font-size: 1.2em;
  margin: 2%;
  padding: 2%;
}
#archive {
  background-color: lightsalmon;
  color: #1f2833;
}
aside section img {
  padding: 10%;
  width: 85%;
  max-height: border-box;
  background-color: #bbbbbb;
  margin-bottom: 5%;
}
#social {
  background-color: #787586;
  color: #F4ECFF;
  height: 18em;
}

/**********************************************************************************************************************
  Section : Footer Styling
************************************************************************************************************************/

footer {
  clear: both;
  height: 20%;
  width: 100%;
  outline: #332f61 1px solid;
  margin-top: 3em;
  padding: 1em;
  background-color: #332f61;
  color: #F4ECFF;
}
footer ul {
  display: inline-flex;
}
footer ul li {
  box-sizing: border-box;
  list-style: none;
  margin: 1em;
  width: 15%;
}
footer ul li a {
  color: #585b56;
  justify-self: auto;
}
footer ul li a:hover {
  color: #F4ECFF;
  justify-self: auto;
  pointer-events: stroke;
}
footer ul li a:active {
  color: #F4ECFF;
  justify-self: auto;
  pointer-events: bounding-box;
}
footer ul li a:visited {
  color: orange;
  justify-self: auto;
}
